select {
    border: #109284 1px solid;
    width:auto;
    font-size:10px;
}

input{
    border: #109284 1px solid;    
    width:100px;
}

.btn {
	background:#5296F7;
	color:#FFFFFF;
}


.mand {
    color:red;
}

table.main{
      background: #109284;      
}


fieldset {
	border: 1px solid #109284;
	color : #000000;
	width: 79%;
}

.row1{ 
  color:#FFFFFF;
}


.row2{ 
  color:#000000;
}

body {
	font-size:11px;
}

a{
	color : #095148;	
	
}

a:hover {	
	text-decoration: none; 
}


.first,.next,.last,.prev {
	cursor: pointer;
	width: 16px;
	height: 16px;
	border: none;
}


.first {
	background : url('../images/icons/first.png') no-repeat;	
}

.prev {
	background : url('../images/icons/prev.png') no-repeat;
}

.last {
	background : url('../images/icons/last.png') no-repeat;
}

.next {
	background : url('../images/icons/next.png') no-repeat;	
}